.navBar {
  background-color: #000000;
  height: 100px;
  width: 100%;
}

.header {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  padding-left: 80px;
}

.title {
  margin-left: 6px;
}

.content-main {
  padding: 80px 200px;
  display: flex;
  justify-content: space-between;
}
.sub-heading {
  font-size: 28px;
  font-weight: bold;
}
.sub-heading-metadata {
  font-size: 12px;
  color: #979797;
  text-transform: uppercase;
  margin-left: 12px;
  font-weight: 300;
}

.main-container {
  display: flex;
  border: 1px solid #979797;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  overflow: scroll;
  max-width: 750px;
}
.main-container-decorder {
  flex-direction: column;
}
.encoder,
.decoder {
  width: 100%;
  margin: 0 10px;
}
.contenteditable {
  overflow-wrap: anywhere;
  border: none;
  padding: 15px;
}
.red {
  color: red;
}

.decoder-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.decoder-header {
  margin: 0;
  padding: 5px 4px;
  font-size: 15px;
  font-weight: bold;
}
.decoder-subheading {
  color: #979797;
  font-size: 12px;
}
.decoder-header-wrapper {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
}

.decoder-content-style {
  padding: 10px;
}

.genrateTestBtn {
  left: 47%;
  position: relative;
  background-color: lightskyblue;
  width: 200px;
  font-size: 15px;
  font-style: bold;
  height: 45px;
  color: white;
  border: none;
}

.red-background{
  background-color: red;
}